/**************/
/* CSS REMEDY */
/**************/

  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	--hashtag: #FFDD00;
	--tekstboven: white;
	--h34tekststijl: "Open Sans", sans-serif;
	--h1h2tekstijl: "Bebas Neue", sans-serif;
	--ptekstijl: "Gentium Plus", serif;
	--textshadow: .1em .1em 0 #2a2a2a;
	--s3h2: #7AAA2B;
	--teksts4: "Source Sans 3", sans-serif;
	--kleurs4:  #295011;
	--fontstijl: italic; 
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/


/*********************/
/* ANIMATIE */
/*********************/

h1 {
	transition-duration: 1.5s;
	transition-delay: .5s;
	opacity: 0;
	transform: translateX(3em);
}

h1.inbeeld {
	opacity: 1;
	transform: translateX(0);
}

/*********************/
/* SECTION 1 */
/*********************/

section:nth-of-type(1) h1 {
    font-family: var(--h1h2tekstijl);
	color: var(--tekstboven);
	font-size: 3em;
	font-weight: 200;
	margin-top: 1.5em;
	padding-left: 0.5em;
    width: 75%;
}

section:nth-of-type(1) img {
    padding-left: 1em;
    width: 20.6em;
    height: 9.7em;
}

section:nth-of-type(1) p {
    font-family: var(--ptekstijl);
    color: var(--tekstboven);
    width: 80%;
    padding-left: 1.7em;
    margin-top: 3em;
    font-size: 1.1em;
    width: 75%;
}


/*********************/
/* SECTION 2 */
/*********************/

section:nth-of-type(2) {
    background-color: var(--kleurs4);
}

section:nth-of-type(2) h4 {
    color: var(--hashtag);
	font-family: var(--h34tekststijl);
	font-size: 3.5em;
	margin-top: 1.5em;
}

section:nth-of-type(2) h3 {
    color: var(--tekstboven);
	font-family: var(--h34tekststijl);
	font-size: 1.1em;
	margin-top: 2em;
    width: 100%;
}

section:nth-of-type(2) .container {
    display: flex;
	align-items: center;  
	justify-content: left;
	gap: 1em;
	margin-left: 1.5em;
    width: 50%;
    padding-left: 1em;
    padding-top: -3em;
}

section:nth-of-type(2) h2 {
    font-family: var(--h1h2tekstijl);
	color: var(--tekstboven);
	font-size: 4.5em;
	font-weight: 200;
    width: 40%;
    margin-top: -0.8em;
    margin-left: 1em;
    line-height: 0.8em;
}

section:nth-of-type(2) p {
    font-family: var(--ptekstijl);
    color: var(--tekstboven);
    width: 80%;
    padding-left: 2.8em;
    margin-top: -5em;
    font-size: 1.1em;
    margin: 0;
    padding-bottom: 3.5em;
}

section:nth-of-type(2) img {
    padding-left: 2.5em;
}

    section:nth-of-type(2) article:nth-of-type(1) img {
        width: 18.4em;
        height: 18.9em;
    }


section:nth-of-type(2) article:nth-of-type(2) img {
        width: 19.8em;
        height: 34.4em;
    }  

section:nth-of-type(2) h5 {
    font-family: var(--ptekstijl);
    color: var(--hashtag);;
    font-weight: 200;
    font-size: 2.3em;
    padding-left: 1.3em;
    margin-top: 1em;
    width: 80%;
    margin: 0;

}

/*********************/
/* SECTION 3 */
/*********************/

section:nth-of-type(3) {
    background-color: var(--tekstboven);
}


section:nth-of-type(3) img {
    padding: 1em;
    width: 22.2em;
    height: 9.6em;

}

/*********************/
/* SECTION 4 */
/*********************/


section:nth-of-type(4) {
    background-color: var(--kleurs4);
}

section:nth-of-type(4) h4 {
    color: var(--hashtag);
	font-family: var(--h34tekststijl);
	font-size: 3.5em;
	margin-top: 0.3em
}

section:nth-of-type(4) h3 {
    color: var(--tekstboven);
	font-family: var(--h34tekststijl);
	font-size: 1.1em;
	margin-top: 2em;
    width: 30%; 
    margin-top: -1.7em; 

}

section:nth-of-type(4) .container {
    display: flex;
	align-items: center;  
	justify-content: left;
	gap: 1em;
	margin-left: 1.5em;
    padding-top: -5em;
    padding-left: 0.5em;
}

section:nth-of-type(4) h2 {
    font-family: var(--h1h2tekstijl);
	color: var(--tekstboven);
	font-size: 4.5em;
	font-weight: 200;
    width: 80%;
    margin-top: -1em;
    padding-left: 0.7em;
}

section:nth-of-type(4) a {
	color: var(--hashtag);
	font-family: var(--ptekstijl);
	font-size: 1.3em;
	text-decoration: none;
	font-style: italic;
	font-weight: 400;
	margin-left: 1.8em;
	text-shadow: var(--textshadow);
}

section:nth-of-type(4) p {
    font-family: var(--ptekstijl);
    color: var(--tekstboven);
    width: 80%;
    padding-left: 2.8em;
    margin-top: -3em;
    font-size: 1.1em;
}

section:nth-of-type(4) img {
    margin-top: 3em;
    margin-left: 1em;
    width: 21.9em;
    height: 20.6em;
}


/*********************/
/* SECTION 5 */
/*********************/


section:nth-of-type(5) ul {
    padding: 0;
}

section:nth-of-type(5) img {
    padding-left: 2em;
    width: 18.1em;
    height: 18.1em;
}

section:nth-of-type(5) h2 {
    font-family: var(--h1h2tekstijl);
    color: var(--hashtag);
    text-align: center;
    font-size: 3.5em;
    font-weight: 100;
    line-height: 0.8em;
}

section:nth-of-type(5) h2 span {
    color: var(--tekstboven);
    margin-left: 0.2em;
}

section:nth-of-type(5) ul h2 {
    font-size: 3.2em;
    margin-bottom: -0.2em;
}

section:nth-of-type(5) p {
    color: var(--tekstboven);
    font-family: var(--teksts4);
    text-align: center;
    font-size: 1.1em;
    width: 90%;
    margin-left: 1em;
}

section:nth-of-type(5) p span {
    color: var(--s3h2);
}

section:nth-of-type(5) button {
    display: block;              
	width: 77%;                  
	max-width: 800px;            
	margin: 20px auto;          
	padding: 3%;                    
	text-align: center;       
	border: none;                      
	font-weight: 600;
	font-family: var(--teksts4);
	font-size: 1.5em;
	background-color: var(--kleurs4);
	color: var(--hashtag);
    margin-bottom: 4em;
    margin-right: 1.7em;
}

/*********************/
/* SECTION 6 */
/*********************/


section:nth-of-type(6) {
    background-image: url(./image/achtergrond.jpg);
    background-size: cover;
}

section:nth-of-type(6) h4 {
    color: var(--hashtag);
	font-family: var(--h34tekststijl);
	font-size: 3.5em;
	margin-top: 0.3em
}

section:nth-of-type(6) h3 {
    color: var(--tekstboven);
	font-family: var(--h34tekststijl);
	font-size: 1.1em;
	margin-top: 2em;
    width: 60%; 
    margin-top: -1.7em;
}

section:nth-of-type(6) h2 {
    font-family: var(--h1h2tekstijl);
    color: var(--hashtag);
    font-size: 3.5em;
    font-weight: 100;
    padding-left: 0.7em;
    margin-top: -1em;
    width: 70%;
    text-align: center;
}

section:nth-of-type(6) h2 span {
    color: var(--tekstboven);
}

section:nth-of-type(6) .container {
    display: flex;
	align-items: center;  
	justify-content: left;
	gap: 1em;
	margin-left: 1.5em;
    padding-top: -5em;
}

section:nth-of-type(6) h5 {
	font-family: var(--teksts4);
    color: var(--s3h2);
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: -2em;
    padding-left: 2em;
    padding-bottom: -3em;
}

/****************/
/* RESPONSIVE 800px */
/****************/
@media(min-width: 800px) {
    section:nth-of-type(1) img {
        margin-left: 0.5em;
        width: 49.6em;
        height: 23.4em;
    }
    section:nth-of-type(1) h1 {
        margin-left: 0.5em;
    }
        section:nth-of-type(1) p {
        width: 88%;
        margin-left: 2em;
        margin-bottom: 4em;
    }


    section:nth-of-type(2) p  {
        width: 90%;

	}

    section:nth-of-type(2) img  {
        width: 25em;
        height: 25em;
        margin-top: 7em;
    
        }


    section:nth-of-type(2) article:nth-of-type(2)  {
            display: grid;
            grid-template-columns: 1fr 1fr;
    }

    section:nth-of-type(2) article:nth-of-type(1)  {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

    section:nth-of-type(3) img {
        width: 47.3em;
        height: 20.6em;
        margin-left: 2em;
    } 

    section:nth-of-type(4) {
        display: grid;
		grid-template-columns: 1fr 1fr;  
    }

 
    section:nth-of-type(5) ul h2 {
            font-size: 1.7em;
            margin-left: 1.2em;
        }
    
    

    section:nth-of-type(5) ul img {
            width: 12em;
            height: 12em;
        }
    
    

    section:nth-of-type(5) ul{
            display: flex;
            gap: 1em;
            margin-left:3em;
        }
        
    section:nth-of-type(5) button {
            font-size: 1em;
            margin-left: 2.5em;
        }
    
    section:nth-of-type(5) p {
            margin-left: 2em;
        }

    section:nth-of-type(6) {
            background-size: 170%;
            background-position: 85%;
        }
        
    section:nth-of-type(6) h2 {
            width: 40%;
            font-size: 4em;
            margin-left: 6em;
            line-height: 0.8em;
        }
        
    section:nth-of-type(6) .container {
            justify-content: right;
            margin-left: 16em;
        }
        
    section:nth-of-type(6) h5 {
            padding-bottom: 3em;
            padding-top: 1em;
            margin-left: 20em;
        }
    
    
}


@media(max-width:800px) {
    section:nth-of-type(2) article:nth-of-type(2) img {
        display: none;
    }
}



/****************/
/* RESPONSIVE 1400px */
/****************/

@media (min-width: 800px){
    section:nth-of-type(1){
        margin-left: 6em;
    }

    section:nth-of-type(1) img {
        width: 65em;
        height: 30em;
        margin-left: 6em;
    }

    section:nth-of-type(2) article:nth-of-type(1) {
        margin-left: 15em;
    }

    section:nth-of-type(2) article:nth-of-type(1) p {
        width: 75%;
    }

    section:nth-of-type(2) article:nth-of-type(1) img {
        padding: 0;
        width: 26em;
        height: 26em;
    }

    section:nth-of-type(2) article:nth-of-type(2) img {
        margin-left: 20em;
    }

    section:nth-of-type(2) article:nth-of-type(2) {
        width: 80%;
    }

    section:nth-of-type(3) img {
        margin-left: 20em;
    }

    section:nth-of-type(4) {
        padding-left: 12em;
        
    }

    section:nth-of-type(5) ul{
        margin-left: 19em;
    }

    section:nth-of-type(6) h2{
        width: 30%;
        margin-left: 10em;

    }
    section:nth-of-type(6) h5{
        margin-left: 37em;
    }
}

